@import "../../base/setting";

.text-primary {
  color: var(--c-primary);
}

.text-secondary {
  color: var(--c-white);
}

.text-gray {
  color: var(--c-gray);
}

.text-gray-100 {
  color: var(--c-gray-100);
}

.text-gray-300 {
  color: var(--c-gray-300);
}

.text-purple-200 {
  color: var(--c-purple-200);
}
