.switch {
  display: flex;
  justify-content: space-between;
  &__mode {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__mode i {
    font-size: 1.4rem;
  }

  &__mode p {
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}
