.skeleton-wrapper {
  position: relative;
  overflow: hidden;
}

:root {
  --bg-skeleton: #aaaaaa;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-skeleton: #d3edff66;
  }
}
.skeleton-wrapper {
  background: var(--bg-skeleton);
}

.shimmer-wrapper {
  animation: loading 2.5s infinite;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.shimmer {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.04);
  height: 100%;
  width: 50%;
  transform: skew(-20deg);
}

.dark .shimmer {
  background: rgba(255, 255, 255, 0.06);
}
@keyframes loading {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(150%);
  }
}
