.photo,
.photo img {
  max-width: 7rem;
  min-height: 7.5rem;
  @media (max-width: 991.98px) {
    max-width: 5rem;
    min-height: 5.5rem;
  }
}
.photo img {
  object-fit: cover;
  border-radius: 50%;
}
