.card-user-names {
  display: flex;
  justify-content: space-between;
  gap: 0.6rem;
  @media (max-width: 991.98px) {
    flex-direction: column;
  }
  &__name {
    font-size: 1.5rem;
  }

  &__username {
    padding: 0.4rem 0 0;
    & p {
      font-weight: 500;
      font-size: 1.2rem;
    }

    @media (max-width: 575.98px) {
      padding-bottom: 0.4rem;
    }
  }
  &__joined {
    align-items: self-start;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    @media (max-width: 991.98px) {
      display: block;
    }
  }
}
