main {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  overflow: hidden;
  width: 100%;
}

.github-user {
  max-width: 750px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
  padding: 1rem 2rem;
  @media (max-width: 991.98px) {
    padding: 1rem;
    max-width: 100%;
  }
  @media (max-width: 575.98px) {
    gap: 0rem;
  }

  &__header {
    margin-bottom: 0.6rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
  &__container {
    padding: 3rem;
    display: grid;
    grid-template-columns: 8rem 1fr;
    gap: 1rem;

    & .photo {
      grid-row: 1 / 5;
    }
    @media (max-width: 991.98px) {
      padding: 1.5rem;
      grid-template-columns: 6rem 1fr;
      & .photo {
        grid-row: 1 /3;
      }
      & .card-user-bio,
      & .card-statistics,
      & .card-social-media {
        grid-column: 1 / 3;
      }
    }
  }
}
